*{
    margin-top: 10px;
}
.right{
    margin-left: 100px;
}
label{
    font-weight: bold;
    text-transform: uppercase;
}
th{
    text-transform: uppercase;
    background-color: bisque;
}
td{
    vertical-align: text-top;
    font-size: small;

}
th, td{
    padding: 5px 10px;
    border: 1px solid black;
}
.searchbtn {
    margin: 20px 10px 20px 0;
}
input{
    width: 500px;
}