<div class="search">
    <form class="form-inline" (ngSubmit)="search()">
        <div class="form-group mr-2">
            <label for="voucherTitle">Voucher Title</label>
            <input type="text" class="form-control"  placeholder="Enter Voucher Title" name="voucherTitle"
                [(ngModel)]="voucherTitle" (input)="disableButton()">
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="disableButtonvalue">Search</button>
        <button class="btn btn-dark" type="reset">Reset</button>
    </form>
</div>
<br>
<br>
<div class="table">
    <table *ngIf="data && data.length != 0" class="table-primary">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Voucher Title</th>
                <th scope="col">Voucher Image</th>
                <th scope="col">Voucher Code</th>
                <th scope="col">Point Rate</th>
                <th scope="col">Merchant</th>
                <th scope="col">Brand</th>
                <th scope="col">Denomination Step</th>
                <th scope="col">Denomination Start</th>
                <th scope="col">Denomination End</th>
                <th scope="col">Terms And Conditions</th>
                <th scope="col">Status</th>
                <th scope="col">Expiry Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of data | paginate
            : {
                itemsPerPage:itemsPerPage ,
                currentPage:currentPage ,
                totalItems: totalItem
              }
               let i=index ">
                <td>{{value.voucherTitle}}</td>
                <td>{{value.voucherImage}}</td>
                <td>{{value.pointRate}}</td>
                <td>{{value.merchants}}</td>
                <td>{{value.brands}}</td>
                <td>{{value.denominationStep}}</td>
                <td>{{value.denominationStart}}</td>
                <td>{{value.denominationEnd}}</td>
                <td>{{value.voucherExpiryDate}}</td>
                <td>{{value.voucherCode}}</td>
                <td>{{value.termsAndConditions}}</td>
                <td>{{value.status}}</td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="!(data && data.length > 0)">
        <p>No data available.</p>
    </div>
</div>
<br>
<div class="sticky-bottom d-flex justify-content-center align-items-center">
    <pagination-controls (pageChange)=" onPageChange($event)"></pagination-controls>
</div>