.sidebar{
    height: 100vh;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 1%;
    background-color: var(--secondary);
}
.item{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px ridge gray;
}
.dropdown{
    text-align: center;
    margin-top: 5px;
    padding: 5px;
    border-bottom: 1px ridge gray;
    background-color: aliceblue;
}
.item:active{
   
}