<ul class="sidebar">
    <li (click)="toggleDropdown('ocr')" class="item">OCR</li>
    <ul *ngIf="isDropdownOpen?.ocr == true">
        <a routerLink="/ocr/addOcr">
            <li class="dropdown">Add ocr</li>
        </a>
        <a routerLink="/ocr/ocrList">
            <li class="dropdown">ocr list</li>
        </a>
    </ul>

    <li (click)="toggleDropdown('offers')" class="item">Offers</li>
    <ul *ngIf="isDropdownOpen?.offers">
        <a routerLink="/offers/create-offer">
            <li class="dropdown">Add Offer</li>
        </a>
        <a routerLink="/offers/offer-list">
            <li class="dropdown">Offer List</li>
        </a>
        <a routerLink="/offers/purchased-offer-list">
            <li class="dropdown">Purchased Offer List</li>
        </a>
        <a routerLink="/offers/redeemed-offer-list">
            <li class="dropdown">Redeemed Offer List</li>
        </a>
    </ul>

    <li (click)="toggleDropdown('voucher')" class="item">Voucher</li>
    <ul *ngIf="isDropdownOpen?.voucher">
        <a routerLink="/voucher/create-voucher">
            <li class="dropdown">Create Voucher</li>
        </a>
        <a routerLink="/voucher/voucher-list">
            <li class="dropdown">Voucher List</li>
        </a>
        <a routerLink="/voucher/purchased-voucher-list">
            <li class="dropdown">Purchased Voucher List</li>
        </a>
        <a routerLink="/voucher/redeemed-voucher-list">
            <li class="dropdown">Redeemed Voucher List</li>
        </a>
    </ul>
</ul>