/* input {
    width: 250px;
} */
.search {
    margin-top: 20px;
    margin-left: 50px;
}

th {
    border: 1px solid black;
    background-color: #6E58A4;
    color: white;
    text-transform: uppercase;
    font-size: small;
}

td {
    padding: 5px 10px;
    border: 1px solid black;
    font-size: small;
}

/* tr td {
    border: 2px solid black;
} */

.searchBtn {
    margin-top: 20px;
    margin-left: 350px
}

.clickable-cell {
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 10px;
}

.click-text {
    color: #007bff;
    font-weight: bold;
    text-decoration: underline;
}

.wrap {
    position: relative;
    margin-left: 330px;
}