
.search {
  margin-top: 20px;
  margin-left: 50px;
}

.form-inline {
  display: flex;
  align-items: center;
  margin-left: 100px;
}
.form-inline label{
  font-weight: bold;
}

.form-group {
  margin-right: 10px;
}
th {
  text-transform: uppercase;
  font-size: small;
  background-color: #332e38;
  color: #e1ded2;
}

td {
  font-size: small;
  background-color: white;
  color: #332e38;
}


.searchBtn {
  margin-top: 20px;
  margin-left: 425px;
}

.clickable-cell {
  cursor: pointer;
  background-color: #f2f2f2;
  padding: 10px;
}

.click-text {
  color: #007bff;
  font-weight: bold;
  text-decoration: underline;
}

.wrap {
  position: relative;
  margin-left: 425px;
}
.dataNotFound{
  margin-left: 200px;
  margin-top: 150px;
}
