<div class="search">
    <form class="form-inline" (ngSubmit)="search()">
            <div class="col-md-4 form-group">
                <label for="requestedBy">Requested By:</label>
                <input type="text" class="form-control" placeholder="Enter Here" name="requestedBy"
                    [(ngModel)]="requestedBy" (input)="disableButton()" (keyup)="emptySearch()">
            </div>
            <div class="col-md-4 form-group">
                <label for="tin">TIN Number:</label>
                <input type="text" class="form-control" placeholder="Enter Here" name="tin" [(ngModel)]="tin"
                    (input)="disableButton()" (keyup)="emptySearch()">
            </div>
            <div class="col-md-4 form-group">
                <label for="tin">City:</label>
                <input type="text" class="form-control" placeholder="Enter Here" name="tin" [(ngModel)]="city"
                    (input)="disableButton()" (keyup)="emptySearch()">
            </div>
            <br>
        </form>
            <div class="searchBtn">
                <button class="btn btn-primary mx-4" type="submit" [disabled]="disableButtonvalue">Search</button>
                <button class="btn btn-dark" type="reset">Reset</button>
        </div>
</div>
<br>
<br>
<div *ngIf="(data && data.length != 0)" class="table btn-outline-primary" class="table-primary">
    <table class="table  table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">RequestedBy-SignedBy-Counter</th>
                <th scope="col">Location Name</th>
                <th scope="col">Address</th>
                <th scope="col">city</th>
                <th scope="col">SDC Time</th>
                <th scope="col">TIN</th>
                <th scope="col">Total Amount</th>
                <th scope="col">TTypeCounter</th>
                <th scope="col">view</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let value of data | paginate
            : {
                itemsPerPage:itemsPerPage ,
                currentPage:currentPage ,
                totalItems: totalItem
              }
               let i=index ">
                <td>{{value.requestedBy}}-{{value.signedBy}}-{{value.totalCounter}}</td>
                <td>{{value.locationName}}</td>
                <td>{{value.address}}</td>
                <td>{{value.city}}</td>
                <td>{{value.sdcTime}}</td>
                <td>{{value.tin}}</td>
                <td>{{value.totalAmount}}</td>
                <td>{{value.transactionTypeCounter}}</td>
                <td *ngIf="value.isUrl" class="clickable-cell" (click)="redirect(value.location)">
                    <span class="click-text"> Click Here</span>
                </td>
                <td *ngIf="!value.isUrl" class="clickable-cell" (click)="download(value.location)">
                    <span class="click-text">DownLoad</span>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <div class='wrap'>
        <pagination-controls (pageChange)=" onPageChange($event)"></pagination-controls>
    </div>
</div>
<div *ngIf="!(data && data.length > 0)">
    <p>No data available.</p>
</div>