.root {
    margin: 0;
    padding: 0;
}


.signup {
    border: 1px solid blue;
    border-radius: 10px;
    margin: 70px 30px 70px 130px;
    width: 100%;
}


form {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}