<div class="right">
  <div class="search">
    <form class="form-inline" (ngSubmit)="search()">
      <div class="form-group mr-2">
        <label for="offerTitle">Offer Title:</label>
        <input type="text" class="form-control" placeholder="Enter Offer Title" name="offerTitle"
          [(ngModel)]="offerTitle" (keyup)="inp()" />
      </div>
      <div class="form-group mr-2">
        <label for="offerCode">Offer Code:</label>
        <input type="text" class="form-control" placeholder="Enter Offer Code" name="offerCode" [(ngModel)]="offerCode"
          (keyup)="inp()" />
      </div>
      <div class="form-group mr-2">
        <label for="merchants">Merchant:</label>
        <input type="text" class="form-control" placeholder="Enter merchant" name="merchants" [(ngModel)]="merchants"
          (keyup)="inp()" />
      </div>
      <div class="form-group mr-2">
        <label for="brands">Brand:</label>
        <input type="text" class="form-control" placeholder="Enter Brand" name="brands" [(ngModel)]="brands"
          (keyup)="inp()" />
      </div>
    </form>
    <div>
      <button class="searchbtn btn btn-primary" [disabled]="
          !this.offerTitle && !this.offerCode && !this.merchants && !this.brands
        " (click)="search()">
        Search
      </button>
      <button class="searchbtn btn btn-dark" (click)="ngOnInit()" type="reset">
        Reset
      </button>
    </div>
  </div>
  <br />
  <br />
  <div class="table" *ngIf="searchData && searchData.length != 0">
    <table class="table-primary">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Offer Title</th>
          <th scope="col">Offer Code</th>
          <th scope="col">Merchant</th>
          <th scope="col">Brand</th>
          <th scope="col">Offer Type</th>
          <th scope="col">Minimum Amount</th>
          <th scope="col">Limit</th>
          <th scope="col">Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="
            let value of searchData
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage,
                    totalItems: totalItem
                  };
            let i = index
          ">
          <td>{{ value.offerTitle }}</td>
          <td>{{ value.offerCode }}</td>
          <td>{{ value.merchants }}</td>
          <td>{{ value.brands }}</td>
          <td>{{ value.offerType }}</td>
          <td>{{ value.minAmount }}</td>
          <td>{{ value.amtLimit }}</td>
          <td>{{ value.offerExpiryDate }}</td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
      <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
  </div>
  <br />
  <div *ngIf="!(searchData && searchData.length > 0)" class="dataNotFound">
    <div class="alert alert-danger text-center" role="alert">
        Data Not Found
    </div>
</div>
 
</div>
