.nav{
    display: flex;
    justify-content: space-between;
    padding:10px;
    background-color: #e1ded2;
}
.logo{
    font-size: larger;
    font-weight: 600;
    color: #332e38;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.menu{
    font-size: medium;
    font-weight: 400;
}