*{
    margin-top: 10px;
}
.right{
    margin-left: 50px;
}
label{
    font-weight: bold;
    text-transform: uppercase;
}
th{
    text-transform: uppercase;
    background-color: bisque;
}
td{
    font-size: small;
}
th, td{
    padding: 5px 10px;
    border: 1px solid black;
}
.searchbtn {
    margin: 20px 10px 20px 0;
}
input{
    width: 500px;
}
.redeem{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #6E58A4;;
    color: white;
    border:none
}