<div class="right">
  <div class="search">
    <form class="form-inline" (ngSubmit)="search()">
      <div class="form-group mr-2">
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" placeholder="Enter First Name" name="firstName" [(ngModel)]="firstName"
          (keyup)="inp()" />
      </div>
      <div class="form-group mr-2">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" placeholder="Enter last Name" name="lastName" [(ngModel)]="lastName"
          (keyup)="inp()" />
      </div>
      <div class="form-group mr-2">
        <label for="voucherCode">Voucher Code</label>
        <input type="text" class="form-control" placeholder="Enter voucher code" name="voucherCode"
          [(ngModel)]="voucherCode" (keyup)="inp()" />
      </div>
      <div class="form-group mr-2">
        <label for="merchant">Merchant</label>
        <input type="text" class="form-control" placeholder="Enter Merchant" name="merchant" [(ngModel)]="merchant"
          (keyup)="inp()" />
      </div>
      <div class="form-group mr-2">
        <label for="brand">Brand</label>
        <input type="text" class="form-control" placeholder="Enter Brand" name="brand" [(ngModel)]="brand"
          (keyup)="inp()" />
      </div>
    </form>
    <div>
      <button class="searchbtn btn btn-primary"
        [disabled]="!firstName && !lastName && !voucherCode && !merchant && !brand" (click)="search()">
        Search
      </button>
      <button class="searchbtn btn btn-dark" (click)="ngOnInit()">Reset</button>
    </div>
  </div>
  <br />
  <br />
  <div class="table">
    <table *ngIf="searchData && searchData.length != 0" class="table-primary">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Voucher Code</th>
          <th scope="col">Merchant</th>
          <th scope="col">Brand</th>
          <th scope="col">Voucher Title</th>
          <th scope="col">Expiry Date</th>
          <th scope="col">Terms & Conditions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of searchData | paginate
            : {
                itemsPerPage:itemsPerPage ,
                currentPage:currentPage ,
                totalItems: totalItem
              }
               let i=index ">
          <td>{{value.firstName}}</td>
          <td>{{value.lastName}}</td>
          <td>{{value.voucherCode}}</td>
          <td>{{value.merchants}}</td>
          <td>{{value.brands}}</td>
          <td>{{value.voucherTitle}}</td>
          <td>{{value.voucherExpiryDate}}</td>
          <td>{{value.termsAndConditions}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <div class="d-flex justify-content-center align-items-center">
      <pagination-controls (pageChange)=" onPageChange($event)"></pagination-controls>
    </div>
    <div *ngIf="!(searchData && searchData.length > 0)">
      <p>No data available.</p>
    </div>
  </div>
