<div class="right">
  <div class="assign">
    <form class="form-inline" (ngSubmit)="search()">
      <div class="form-group mr-2">
        <label for="userId">User ID</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter User ID"
          name="userId"
          [(ngModel)]="userId"
        />
      </div>
      <div class="form-group mr-2">
        <label for="offerId">Offer ID</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Offer ID"
          name="offerId"
          [(ngModel)]="offerId"
        />
      </div>
    </form>
    <button
      class="btn btn-primary"
      [disabled]="!userId || !offerId"
      (click)="assign()"
    >
      Assign
    </button>
  </div>
  <div class="search">
    <form class="form-inline" (ngSubmit)="search()">
      <div class="form-group mr-2">
        <label for="firstName">First Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter First Name"
          name="firstName"
          [(ngModel)]="firstName"
          (keyup)="inp()"
        />
      </div>
      <div class="form-group mr-2">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter last Name"
          name="lastName"
          [(ngModel)]="lastName"
          (keyup)="inp()"
        />
      </div>
      <div class="form-group mr-2">
        <label for="offerCode">Offer Code</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter offer code"
          name="offerCode"
          [(ngModel)]="offerCode"
          (keyup)="inp()"
        />
      </div>
      <div class="form-group mr-2">
        <label for="merchant">Merchant</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Merchant"
          name="merchant"
          [(ngModel)]="merchant"
          (keyup)="inp()"
        />
      </div>
      <div class="form-group mr-2">
        <label for="brand">Brand</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Brand"
          name="brand"
          [(ngModel)]="brand"
          (keyup)="inp()"
        />
      </div>
    </form>
    <div>
      <button class="searchbtn btn btn-primary"  [disabled]="
      !firstName && !lastName && !offerCode && !merchant && !brand
    " (click)="search()">
        Search
      </button>
      <button class="searchbtn btn btn-dark" (click)="ngOnInit()">Reset</button>
    </div>
  </div>
  <br />
  <br />
  <div class="table">
    <table *ngIf="searchData && searchData.length != 0" class="table-primary">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Offer Code</th>
          <th scope="col">Merchant</th>
          <th scope="col">Brand</th>
          <th scope="col">Offer Type</th>
          <th scope="col">Expiry Date</th>
          <th scope="col">Terms & Conditions</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let value of searchData
              | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: currentPage,
                    totalItems: totalItem
                  };
            let i = index
          "
        >
          <td>{{ value.firstName }}</td>
          <td>{{ value.lastName }}</td>
          <td>{{ value.offerCode }}</td>
          <td>{{ value.merchants }}</td>
          <td>{{ value.brands }}</td>
          <td>{{ value.offerType }}</td>
          <td>{{ value.offerExpiryDate }}</td>
          <td>{{ value.termsAndConditions }}</td>
          <td
            (click)="redeem(value.purchase_offer_id)"
            *ngIf="value.status == 'Available'"
          >
            <button class="redeem">Redeem</button>
          </td>
          <td *ngIf="value.status == 'Unavailable'">
            <button disabled class="btn btn-dark">redeemed</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="sticky-bottom d-flex justify-content-center align-items-center">
      <pagination-controls
        (pageChange)="onPageChange($event)"
      ></pagination-controls>
    </div>
  </div>
  <br />
  <div *ngIf="!(searchData && searchData.length > 0)">
    <p>No data available.</p>
  </div>
</div>
