form {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 50px;
}

div {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input,select,textarea {
    width: 300px;
    height: 30px;
    padding: 2px 5px;
}

textarea {
    height: 200px;
}

  
span,small {
    color: red;
}

button {
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: rgb(89, 89, 243);
    color: white;
}