<div class="container">
    <app-input [label]="'E-Voucher Code'" (e)="inp($event)" [placeholder]="'Enter code'"></app-input>
    <app-input [label]="'Merchant'" (e)="inp($event)" [placeholder]="'Select merchant'"></app-input>
    <app-input [label]="'Brands'" (e)="inp($event)" [placeholder]="'Select branch '"></app-input>
    <app-input [label]="'Point rate'" (e)="inp($event)" [placeholder]="'Enter point rate'"></app-input>
    <app-input [label]="'Quantity'" (e)="inp($event)" [placeholder]="'Enter quantity'"></app-input>
    <app-input [label]="'First denomination'" (e)="inp($event)" [placeholder]="'Enter first denomination'"></app-input>
    <app-input [label]="'Second denomination'" (e)="inp($event)" [placeholder]="'Enter second denomination'"></app-input>
    <app-input [label]="'Third denomination'" (e)="inp($event)" [placeholder]="'Enter third denomination'"></app-input>
    <app-input [label]="'Four denomination'" (e)="inp($event)" [placeholder]="'Enter four denomination'"></app-input>
    <app-input [label]="'Limit (Per User)'" (e)="inp($event)" [placeholder]="'Limit per User'"></app-input>
    <app-input [label]="'Commission(%)'" (e)="inp($event)" [placeholder]="'Enter Commission(%)'"></app-input>
    <app-input [label]="'Tier Code'" (e)="inp($event)" [placeholder]="'Select Tier Code'"></app-input>
    <app-input [label]="'Tags'" (e)="inp($event)" [placeholder]="'Select Tags'"></app-input>
    <app-input [label]="'Top Groups'" (e)="inp($event)" [placeholder]="'Select top groups'"></app-input>
    <app-input [label]="'Status'" (e)="inp($event)" [placeholder]="''"></app-input>
    <app-input [label]="'E-Voucher Expiry (Days)'" (e)="inp($event)" [placeholder]="''"></app-input>
    <app-input [type]="'File'" [label]="'Brand Image'" (e)="inp($event)" [placeholder]="'Enter the name'"></app-input>
</div>
