<div class="container">
    <app-input [label]="'Voucher Title'" (e)="inp($event)" [placeholder]="'Enter title'"></app-input>
    <app-input [type]="'File'" [label]="'Image'" (e)="inp($event)" [placeholder]="'Select image'"></app-input>
    <app-input [label]="'Point rate'" (e)="inp($event)" [placeholder]="'Enter point rate'"></app-input>
    <app-dropdown [label]="'Merchant'" [items]="['Nike','Puma']" ></app-dropdown>
    <app-dropdown [label]="'Brands'" [items]="['Mama Earth','Lenskart']" ></app-dropdown>
    <app-input [label]="'Denomination step'" (e)="inp($event)" [placeholder]="'Enter denomination'"></app-input>
    <app-input [label]="'Denomination start'" (e)="inp($event)" [placeholder]="'Enter denomination'"></app-input>
    <app-input [label]="'Denomination end'" (e)="inp($event)" [placeholder]="'Enter denomination'"></app-input>
    <app-input [type]="'Date'" [label]="'Expiry Date'" (e)="inp($event)" ></app-input>
    <app-input [label]="'Voucher Code'" (e)="inp($event)" [placeholder]="'Enter voucher code'"></app-input>
</div>
